# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# We clone our geti packages during the npm install phase
packages/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

src/api/openapi-spec.d.ts
src/api/openapi-spec.json
