{
    "arrowParens": "always",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "bracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "auto",
    "trailingComma": "es5",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "",
        "^react$",
        "",
        "BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^(?!.*[.]*css$)[./].*$",
        "",
        ".*css$"
    ],
    "importOrderTypeScriptVersion": "5.7.2",
    "importOrderCaseSensitive": false
}
